@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .video-container {
    display: flex;
    flex-direction: column;
  }

  .tj-kevin-hart-text {
    position: relative;
    background-color: #4d4d4d;
    color: #fff;
    -webkit-transform: none;
    transform: none;
    padding: 30px 30px 50px;
    left: 0;
  }

  .sides-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .side-container {
    width: 100%;
    max-height: none;
  }

  .side-container.right-side {
    margin-left: 0px;
    max-height: 450px;
  }

  .side-container.right-side > img {
    height: 500px;
  }

  .side-container.left-side {
    margin-right: 0px;
  }

  .side-container img.image-cta {
    width: 100%;
  }

  .right-side > .text-cta-block {
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 50%;
    width: 100%;
  }

  .collage-group-three {
    grid-template-columns: repeat(1, 1fr);
  }

  .collage-group-three > img {
    width: 100%;
  }

  .collage-group-three.first > img:not(:first-child) {
    display: none;
  }

  .collage-group-three.second > img:not(:nth-child(2)) {
    display: none;
  }

  .collage-group-three.third > img:not(:first-child) {
    display: none;
  }

  .kh-signup {
    bottom: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;
  }

  .input-combo-wrapper {
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  .input-combo-wrapper > * {
    margin: 1rem;
  }

  .shoppable-product-tiles {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .product-details {
    text-align: left;
  }

  .attribute-selector-dropdown-trigger {
    padding: 0px;
  }

  .main-footer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  }

  .main-footer-column {
    margin-bottom: 3rem;
  }

  .main-footer-column:first-child {
    margin-top: 5rem;
  }
}
