.offcanvas-mask.open {
  bottom: 0;
}
.offcanvas-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(245, 245, 245, 0.95);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 4999;
}

.off-canvas.open,
.off-canvas-right.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.mobile-nav-panel {
  background: #fff;
  font-size: 14px;
}

.off-canvas {
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.off-canvas,
.off-canvas-right {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  box-shadow: 1px 0 2px #f5f5f5;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  z-index: 5000;
  -webkit-backface-visibility: hidden;
}

.mobile-nav-header {
  position: relative;
  padding: 1rem 1.5rem;
  font-family: "Basetica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: #00424a;
  color: #fff;
}

.mobile-nav-content {
  padding: 1em;
}

.mobile-nav-panel ul {
  list-style: none;
}

.mobile-account-link {
  padding-bottom: 1em;
  border-bottom: 1px solid #f5f5f5;
}

.mobile-account-link,
.mobile-navigation ul {
  padding: 0;
  list-style: none;
}

.mobile-account-link a:not(.button),
.mobile-navigation ul a:not(.button) {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #00424a;
}

.mobile-navigation {
  position: relative;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  line-height: 1.25;
}

.mobile-account-link,
.mobile-navigation ul {
  padding: 0;
  list-style: none;
}

.mobile-navigation ul:not(.mobile-nav-footer) li {
  margin-bottom: 1em;
}

.mobile-nav-section {
  margin: 1em 0 1em 0.5em;
}

.mobile-nav-section .accordian-trigger {
  position: relative;
  font-weight: bold;
  color: #00424a;
  padding: 1em 0;
}

.mobile-nav-section .accordian-trigger:after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "+";
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 2em;
}

:not(.active) + .accordian-content {
  display: none;
}

.mobile-account-link,
.mobile-navigation ul {
  padding: 0;
  list-style: none;
}

.mobile-navigation ul:not(.mobile-nav-footer) li {
  margin-bottom: 1em;
}
