@import "variables";
@import "mixins";
@import "normalize";
@import "typography";
@import "utility";
// @import "animation";
@import "base";
// @import "./layout/index";
// @import "./pages/index";
//@import "application";
@import "footer";
@import "tj_nav";
@import "tj_mobile_nav";
@import "mobile_nav_slider";
@import "kevin";
@import "mobile_only_query";

$font-stack: Arial, sans-serif;
$primary-color: #333;
$testing: 2rem;

.div-sizer {
  float: left;
}

// @media only screen and (max-device-width: 667px) {
//   .div-sizer {
//     float: none;
//   }
// }

@media only screen and (max-width: 667px) {
  .div-sizer {
    float: none;
  }
}
#header-nav {
  background-color: $color-primary;
}
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#box {
  background-color:blue;;
}