.main-header.show-mobile {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}
@media only screen and (min-width: 767px) {
  .main-logo {
    margin-left: 2rem;
  }
}
.top-bar {
  padding-top: 4px;
  background: #fff;
  position: relative;
  z-index: 1000;
}

.button-bare {
  background: none;
  border: 0;
  color: #587679;
  padding: 0.5em;
}

@media only screen and (max-width: 767px) {
  .main-header {
    padding: 0;
  }
  .top-bar-content {
    display: flex;
    align-items: center;
  }
  .top-bar-content > * {
    line-height: 0;
  }
}

.content {
  margin-right: auto;
  margin-left: auto;
  max-width: 1184px;
}

.burger-container {
  display: inline-block;
  cursor: pointer;
}

.burger-container .bar {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

@media only screen and (max-width: 767px) {
  .top-bar-brand-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .top-bar-content > * {
    line-height: 0;
  }

  .top-bar-brand-link {
    right: 0;
    left: 0;
    width: 140px;
    margin: 0 auto;
  }
}

.top-bar-brand-container {
  position: relative;
}

.top-bar-content a {
  color: #00424a;
  text-decoration: none;
}

.top-bar-brand-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

@media only screen and (max-width: 767px) {
  .tj-logo-svg-container {
    margin-bottom: 0;
  }
}

.tj-logo-svg-container > .tj-logo-wrapper.tj-logo-svg {
  width: 200px;
}

.minicart-toggle.has-items,
.minicart-toggle.has-items:hover {
  color: #b73d31;
}

.minicart-toggle {
  font-size: 16px;
  text-align: right;
  color: #808080;
}

.top-bar-search {
  display: flex;
}

#burger {
  grid-column: 1;
  flex-grow: 1;
}

#logo {
  flex-grow: 10;
}

#cart {
  grid-column: 10;
  justify-self: center;
  flex-grow: 2;
}
