.main-header {
  // margin-bottom: 30px;
  padding-right: 48px;
  padding-left: 48px;
}
.top-right-nav {
  display: grid;
}

.account-navigation-wrapper {
  grid-column: 3/4;
  justify-self: right;
  margin-right: 3rem;
}

.account-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.account-navigation li {
  list-style: none;
  cursor: pointer;
  margin: 1rem auto;
}
.account-navigation .icon-help,
.account-navigation .icon-account {
  font-size: 16px;
  color: $color-grey-text;
}

.icon-helper:before {
  content: "?";
  display: inline-block;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  width: 16px;
  height: 14px;
  font-size: 14px;
  line-height: 1.8ex;
  border-radius: 7.2px;
  margin-right: 4px;
  color: $color-grey-text;
  background: #fff;
  border: 1px solid $color-grey-text;
  text-decoration: none;
}

.account-navigation > li > .dropdown {
  display: none;
}
.account-navigation > li > .dropdown.show {
  z-index: 1001;
  right: 8%;
  margin: 0 -50px 0 0;
  padding: 1em 2em;
  width: 200px;
  border: 1px solid #f5f5f5;
  background: #fff;
  list-style: none;
  font-size: 12px;
  position: absolute;
}

.primary-nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main-logo {
  align-self: center;
  grid-column: 1/4;
}
ul.nav-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
}

.list-item-container {
  grid-column: 4/10;
}

@media only screen and (max-width: 880px) {
  .list-item-container {
    grid-column: 4/112;
  }
}
.nav-section {
  align-self: center;
  justify-self: center;
}
.nav-list-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-categories-wrapper {
  width: calc(100% + 48px * 2);
  padding: 0;
  margin-top: 1em;
  left: 0;
  border: 2px solid green;
}

.nav-categories {
  min-height: 15em;
  padding: 1em 0;
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
}

.nav-categories .nav-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-left: 0;
  width: calc(100% / 6);
}
.nav-category-links {
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
}

.nav-section .nav-item {
  position: relative;
  padding: 0.35em;
  padding-bottom: 1.15em;
  color: #808080;
  font-size: 14px;
}

.nav-section .nav-item:hover {
  color: #587679;
}

.nav-categories .nav-category p {
  color: #00424a;
  margin-bottom: 0.25em;
  font-size: 14px;
}

.top-bar-content :hover > a {
  color: #00424a;
}

.nav-link a {
  font-size: 14px;
}

.bar-dropdown {
  position: absolute;
  z-index: 3000;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
}

.bar-dropdown {
  position: absolute;
  z-index: 3000;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
}
