<footer>
  <div class='container'>
    <div class='main-footer'>

      <% footerlinks.forEach(function(user){ %>
        <div class="main-footer-column">
          <h2>
            <%= user.title %>
          </h2>
          <ul>
            <% user.links.forEach(function(link) { %>
              <li>
                <a href="<%= `https://www.tommyjohn.com/${link.toLowerCase()}` %>">
                  <%= link %>
                </a>
              </li>

              <% }); %>
          </ul>
        </div>
        <% }); %>

    </div>
  </div>
</footer>