<div class="off-canvas mobile-nav-panel" data-off-canvas="mobile-nav-panel">
  <header class="mobile-nav-header">
    Tommy John
    <button class="button-bare mobile-nav-trigger" data-off-canvas-trigger="mobile-nav-panel">✕</button>
  </header>
  <div class="mobile-nav-content">
    <ul class="mobile-account-link">
      <li>
        <a href="/login?return_to=%2Fkevin">Login/Register</a>
      </li>
    </ul>
    <div class="mobile-navigation" id="mobile-navigation" style="transform: translatex(0); -webkit-transform: translatex(0);">
      <ul>
        <li class="mobile-nav-section" data-accordian="">
          <div class="accordian-trigger">
            New Arrivals
          </div>

          <ul class="accordian-content">
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Men
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/new-arrivals">New Arrivals</a>
                </li>
                <li>
                  <a href="/smart-fabrics">Collections</a>
                </li>
                <li>
                  <a href="/gift-guide/best-of-tommy-john">Best of Tommy John</a>
                </li>
                <li>
                  <a href="/gift-guide/everyday">Everyday Essentials</a>
                </li>
                <li>
                  <a href="/gift-guide/workout">Workout</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Women
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/women/new-arrivals">New Arrivals</a>
                </li>
                <li>
                  <a href="/introducing-womens">Introducing Women's</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Gift Card
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/products/e-gift-card">Gift Card</a>
                </li>

              </ul>
            </li>

          </ul>
        </li>
        <li class="mobile-nav-section" data-accordian="">
          <div class="accordian-trigger">
            Men
          </div>

          <ul class="accordian-content">
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                What's New
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/new-arrivals">New Arrivals</a>
                </li>
                <li>
                  <a href="/smart-fabrics">Collections</a>
                </li>
                <li>
                  <a href="/gift-guide/best-of-tommy-john">Best of Tommy John</a>
                </li>
                <li>
                  <a href="/gift-guide/everyday-essentials">Everyday Essentials</a>
                </li>
                <li>
                  <a href="/gift-guide/workout">Workout</a>
                </li>
                <li>
                  <a href="/products/e-gift-card">Gift Card</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Underwear
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/underwear">All Underwear</a>
                </li>
                <li>
                  <a href="/underwear/styles/boxer-brief">Boxer Brief</a>
                </li>
                <li>
                  <a href="/underwear/styles/relaxed-fit-boxer">Relaxed Fit Boxer</a>
                </li>
                <li>
                  <a href="/underwear/styles/trunk">Trunk</a>
                </li>
                <li>
                  <a href="/underwear/styles/square-cut">Square Cut</a>
                </li>
                <li>
                  <a href="/underwear/styles/brief">Brief</a>
                </li>
                <li>
                  <a href="/long-johns">Long John</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Undershirts
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/undershirts">All Undershirts</a>
                </li>
                <li>
                  <a href="/undershirts/styles/crew-neck">Crew Neck</a>
                </li>
                <li>
                  <a href="/undershirts/styles/high-v-neck">High V-Neck</a>
                </li>
                <li>
                  <a href="/undershirts/styles/deep-v-neck">Deep V-Neck</a>
                </li>
                <li>
                  <a href="/undershirts/styles/tank-top">Tank</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Clothing
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/clothing">All Clothing</a>
                </li>
                <li>
                  <a href="/pants">Pants &amp; Joggers</a>
                </li>
                <li>
                  <a href="/shorts">Shorts</a>
                </li>
                <li>
                  <a href="/t-shirts">Tops &amp; T-shirts</a>
                </li>
                <li>
                  <a href="/hoodies">Sweatshirts &amp; Hoodies</a>
                </li>
                <li>
                  <a href="/socks">Socks</a>
                </li>
                <li>
                  <a href="/loungewear">Loungewear</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Collections
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/second-skin">Second Skin</a>
                </li>
                <li>
                  <a href="/cool-cotton">Cool Cotton</a>
                </li>
                <li>
                  <a href="/air">Air</a>
                </li>
                <li>
                  <a href="/360-sport">360 Sport</a>
                </li>
                <li>
                  <a href="/go-anywhere">Go Anywhere™</a>
                </li>
                <li>
                  <a href="/long-johns">Sleekheat™</a>
                </li>

              </ul>
            </li>

          </ul>
        </li>
        <li class="mobile-nav-section" data-accordian="">
          <div class="accordian-trigger">
            Women
          </div>

          <ul class="accordian-content">
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                What's New
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/women/new-arrivals">New Arrivals</a>
                </li>
                <li>
                  <a href="/introducing-womens">Introducing Women's</a>
                </li>
                <li>
                  <a href="/products/e-gift-card">Gift Card</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Underwear
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/women/underwear">All Panties</a>
                </li>
                <li>
                  <a href="/women/underwear/styles/boyshort">Boyshort</a>
                </li>
                <li>
                  <a href="/women/underwear/styles/brief">Brief</a>
                </li>
                <li>
                  <a href="/women/underwear/styles/cheeky">Cheeky</a>
                </li>
                <li>
                  <a href="/women/underwear/styles/thong">Thong</a>
                </li>
                <li>
                  <a href="/women/camisole">Camisole</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Collections
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/women/second-skin">Second Skin</a>
                </li>
                <li>
                  <a href="/women/air">Air</a>
                </li>

              </ul>
            </li>

          </ul>
        </li>
        <li class="mobile-nav-section" data-accordian="">
          <div class="accordian-trigger">
            Packs
          </div>

          <ul class="accordian-content">
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Men's Packs
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/packs">All Packs</a>
                </li>
                <li>
                  <a href="/packs/fabric-samplers">Samplers</a>
                </li>
                <li>
                  <a href="/packs/multi-packs">Multi Packs</a>
                </li>
                <li>
                  <a href="/packs/starter">Starter Kits</a>
                </li>

              </ul>
            </li>
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Women's Packs
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/women/packs">All Packs</a>
                </li>
                <li>
                  <a href="/women/packs/sampler">Samplers</a>
                </li>
                <li>
                  <a href="/women/packs/multi-packs">Multi Packs</a>
                </li>

              </ul>
            </li>

          </ul>
        </li>
        <li class="mobile-nav-section" data-accordian="">
          <div class="accordian-trigger">
            Tommy John Rewards
          </div>

          <ul class="accordian-content">
            <li class="mobile-nav-category">
              <div class="accordian-trigger">
                Tommy John Rewards
              </div>

              <ul class="accordian-content">
                <li>
                  <a href="/tommy-john-rewards">About</a>
                </li>
                <li>
                  <a href="/rewards">My Rewards</a>
                </li>

              </ul>
            </li>

          </ul>
        </li>

      </ul>

      <hr>
      <ul class="mobile-nav-footer">
        <li>
          <a href="tel:+1.800.708.3490">1-800-708-3490</a>
        </li>
        <li>
          <a href="/contact_us">Help</a>
        </li>
        <li>
          <a href="/ship-return">Shipping &amp; Returns</a>
        </li>
        <li>
          <a href="/products/e-gift-card">Gift Cards</a>
        </li>
        <li>
          <a href="/locator">Store Locator</a>
        </li>
        <li>
          <a href="/news">Press</a>
        </li>
        <li>
          <a href="//tommyjohn.theresumator.com/apply">Jobs</a>
        </li>
      </ul>
    </div>
  </div>
</div>