<span class="top-bar-search">
  <span class="search-icon" data-js="panel-trigger" data-panel-target="search">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="-398.5 -476 1024 1024" class="search-svg">
      <path d="M306.5 125c9.7-16.1 17.3-33 24.4-50.3 13.1-31.8 19.9-65.8 22.6-100 5.3-68.3-12.1-139.2-47.7-197.7-34.3-56.4-85.8-103.9-146.1-131.2-16.9-7.7-34.3-14.6-52.2-19.6-18.4-5.1-37.1-8.1-56-10.3-34.9-4.1-70.3-1.6-104.6 5.3-65.5 13.1-127.5 48.1-173.6 96.3-46.3 48.4-79.3 111.3-89.4 177.8-2.8 18.7-4.9 37.4-4.9 56.3.2 68.1 20.8 137.2 60.5 192.7 10.6 14.8 22 29.2 34.7 42.4 12.7 13.2 26.8 24.7 41.3 35.9 26.9 20.5 56.9 35.8 88.6 47.5 32.3 11.8 67 17.8 101.3 19.1 34.6 1.3 70.1-3.1 103.4-12.5 63.8-18.1 123.3-55.8 165.6-107 11.7-14.3 22.7-29.1 32.1-44.7zM262.6-15.3c-3.4 21.7-9.2 42.9-17.3 63.2-8.6 19.3-19.3 37.5-31.8 54.5-13.6 16.9-28.9 32.2-45.8 45.8-17 12.5-35.3 23.2-54.5 31.8-20.4 8.1-41.6 13.9-63.2 17.3-22.1 2.5-44.4 2.5-66.5 0-21.7-3.4-42.9-9.2-63.2-17.3-19.3-8.6-37.5-19.3-54.5-31.8-16.9-13.6-32.2-28.9-45.8-45.8-12.5-17-23.2-35.3-31.8-54.5-8.1-20.4-13.9-41.6-17.3-63.2-1.2-11-1.9-22.1-1.9-33.2 0-11.1.7-22.2 1.9-33.2 3.4-21.7 9.2-42.9 17.3-63.2 8.6-19.3 19.3-37.5 31.8-54.5 13.6-16.9 28.9-32.2 45.8-45.8 17-12.5 35.3-23.2 54.5-31.8 20.4-8.1 41.6-13.9 63.2-17.3 22.1-2.5 44.4-2.5 66.5 0 21.7 3.4 42.9 9.2 63.2 17.3 19.3 8.6 37.5 19.3 54.5 31.8 16.9 13.6 32.2 28.9 45.8 45.8 12.5 17 23.2 35.3 31.8 54.5 8.1 20.4 13.9 41.6 17.3 63.2 2.4 22 2.4 44.3 0 66.4zm278 444.6c-.5-11.8-4.5-23.4-13.2-31.8-20.8-20-41.6-40-62.5-60L365.5 242l-22.6-21.7c-8.4-8.1-20-13.2-31.8-13.2-11 0-24.2 4.9-31.8 13.2-7.9 8.6-13.7 19.8-13.2 31.8.5 11.8 4.5 23.4 13.2 31.8 20.8 20 41.6 40 62.5 60l99.4 95.5 22.6 21.7c8.4 8.1 20 13.2 31.8 13.2 11 0 24.2-4.9 31.8-13.2 7.9-8.5 13.7-19.8 13.2-31.8z"></path>
    </svg>

  </span>
  <div class="information-panel" data-js="information-panel" data-panel="search">
    <div class="information-panel-header">
      <h2 class="information-panel-header-title"></h2>
      <div class="information-panel-close" data-panel-target="search"></div>
    </div>
    <div class="information-panel-content" data-js="panel-content">
      <form action="/search-results" accept-charset="UTF-8" method="get" class="ng-pristine ng-valid">
        <input name="utf8" type="hidden" value="✓">
      </form>
    </div>
  </div>
  <div class="information-panel-mask"></div>
</span>