<div class="main-header">
  <div class="top-right-nav">
    <div class="account-navigation-wrapper">
      <ul class="account-navigation">
        <li>
          <i class="material-icons">search</i>
        </li>
        <li>
          <a class="icon-helper" href="#"></a>
          <ul class="dropdown" id="dropdown-help">
            <li>
              <a href="https://help.tommyjohn.com/hc/en-us">FAQ</a>
            </li>
            <li>
              <a href="javascript:window.CustomerServiceChat.activate()">Chat With Us</a>
            </li>
            <li>
              <a href="tel:18007083490">Call Us: 1-800-708-3490</a>
            </li>
            <li>
              <a href="/contact_us">Email Us</a>
            </li>
          </ul>
        </li>
        <li>
          <i class="material-icons" href="/login?return_to=%2F">person</i>
        </li>
        <li>
          <i class="material-icons">shopping_cart</i>
        </li>
      </ul>
    </div>
  </div>
  <div class="primary-nav-container">
    <div class="main-logo">
      <% include tj-logo.ejs %>
    </div>
    <div class="list-item-container">
      <ul class="nav-container">
        <li class="nav-section">
          <a class='nav-item' href="#">Arrivals</a>
          <% include nav/arrivals %>
        </li>
        <li class="nav-section">
          <a class='nav-item' href="#">Men</a>
          <% include nav/men %>
        </li>
        <li class="nav-section">
          <a class='nav-item' href="#">Women</a>
          <% include nav/women %>
        </li>
        <li class="nav-section">
          <a class='nav-item' href="#">Packs</a>
          <% include nav/packs %>
        </li>
        <li class="nav-section">
          <a class='nav-item' href="#">TJ Rewards</a>
          <% include nav/rewards %>
        </li>
      </ul>
    </div>

  </div>
</div>
<script>
  var helper = document.querySelector('.icon-helper');
  helper.addEventListener('mouseenter', function (e) {
    this.nextElementSibling.classList.toggle('show')
  });

  $('.nav-categories-wrapper').hide();

  $('.nav-section').mouseenter(function (e) {
    $('.nav-categories-wrapper').show();
    let others = $('.bar-dropdown').not($(this).children());
    $(others).hide();
    e.stopPropagation();
  });

  $('.nav-categories-wrapper').mouseleave(function (e) {
    $(this).hide();
  });
  $('.list-item-container').mouseleave(function (e) {
    $('.nav-categories-wrapper').hide();
  });
</script>