<div class="information-panel-wrapper">
  
  <div class="information-panel">
    <div class="information-panel-header">
      <h2 class="information-panel-header-title">Fit Guide</h2>
      <div class="information-panel-close"></div>
    </div>
    <div class="information-panel-content">
      <div class="product-fit">
        <h3 class="product-fit-title">How do I measure my waist?</h3>
        <p>Bend to the sides to reveal the crease of the natural waist line. Measure around the body along that line for your
          natural waist measurement. Ensure tape measure is level all around.</p>
      </div>
      <div class="product-fit">
        <h3 class="product-fit-title">Unsure of size to buy?</h3>
        <p>A smaller size is best if you wear slimmer, more tailored shirts or pants. If you prefer a looser fit, size up.</p>
      </div>
      <div class="product-fit">
        <h3 class="product-fit-title">Model Measurements</h3>
        <p>Height: 6'1", Waist: 32", Chest: 41" Model is wearing a size Medium.</p>
      </div>
    </div>
  </div>
  <div class="information-panel-mask"></div>
</div>