.pikaday__container {
  width: 100%;
}

.pika-next:hover {
  // Undo our default button background styles.
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
  background-color: transparent;
}

.pika-prev:hover {
  // Undo our default button background styles.
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
  background-color: transparent;
}

.date-picker {
  position: relative;

  input {
    @include placeholder {
      color: $color-grey-dark;
    }
  }

  &::after {
    @include position(absolute, 0 0 null null);
    content: "\e80c"; // Calendar
    padding: 13px;
    line-height: 1;
    font-family: "fontello";
    font-size: 24px;
    color: $color-primary;
    pointer-events: none;
  }
}
