.video-modal-wrapper {
  @include position(fixed, 0);
  overflow: hidden;
  z-index: $z-index-modals;

  &:not(.is-launched) {
    display: none;
  }
}

.video-modal-mask {
  @include position(absolute);
  width: 100%;
  height: 100%;
  background: $shadow;
  z-index: 1;
}

.video-modal {
  position: relative;
  max-width: $width-max;
  height: 100%;
  @include margin(null auto);

  @media screen and (max-width: $mobile-breakpoint) and (orientation: landscape) {
    max-width: 500px;
  }
}

.video-modal-content {
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%, -50%));
  @include calc(width, "100% - 2rem");
  height: 0;
  padding-top: (9 / 16) * 100%; // aspect ratio of the video
  z-index: 1;

  @media #{$desktop-only} {
    @include calc(width, "100% - 9rem");
  }

  iframe, video {
    @include position(absolute, 0 null null 0);
    width: 100%;
    height: 100%;
  }
}

.video-modal-close {
  @include position(absolute, -3rem 0 null null);
  padding: 9px 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 1;

  @media #{$desktop-only} {
    top: 0;
    right: -3rem;
  }

  @media screen and (max-width: $mobile-breakpoint) and (orientation: landscape) {
    top: 0;
    right: -3rem;
  }

  &,
  &:hover {
    border: 2px solid $color-primary;
    background: transparent;
    color: $color-primary;
  }
}

.video-modal-post-video-actions {
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%, -50%));
  z-index: 1;
}
