.contact-page h1 {
  @include responsive-font-size($font-size-min: 20, $font-size-max: 36);
}

.contact-wrapper {
  font-family: $font-family-heading;

  @media #{$desktop-only} {
    @include display(flex);
    padding: 3rem;
    border: 1px solid $color-grey-light;
  }
}

.contact-information {
  @include clear-margins;
  font-size: 14px;

  @media #{$desktop-only} {
    max-width: 350px;
    padding-right: 3rem;
    margin-right: 3rem;
    border-right: 1px solid $color-grey-light;
  }

  h2 {
    @include responsive-font-size($font-size-min: 16, $font-size-max: 20);
  }
}

.contact-form {
  @include flex-grow(1);
  @include clear-margins;
  margin: 0;

  @media #{$mobile-only} {
    margin-top: 2rem;
    font-size: 14px;
  }

  h3 {
    @include responsive-font-size($font-size-min: 18, $font-size-max: 22);
  }

  .input-wrapper {
    max-width: 500px;
  }

  button {
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}
