@import "tcf/introduction";
@import "tcf/instagram";
@import "tcf/about";

$tcf-color-1: #2f4e91;
$tcf-color-2: #203d85;
$tcf-color-3: #242e59;

body.support-your-balls {
  .main-content {
    padding: 0;
  }

  .main-footer {
    margin-top: 0;
  }
}

.support-your-balls-section {
  margin-top: 2rem;

  @media #{$desktop-only} {
    margin-top: 5rem;
  }
}

.support-your-balls-hero {
  padding-top: aspect-ratio(800, 500);
  background-image: asset-url("tcf/2016_tcf-hero-800x500.jpg");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;

  @media #{$desktop-only} {
    padding-top: aspect-ratio(1600, 500);
    background-image: asset-url("tcf/2016_tcf-hero-1600x500.jpg");
  }
}

body.support-your-balls {
  .product-tile-colors,
  .product-tile-review {
    display: none;
  }

  .product-tile-info {
    @include padding(0 0 null null);
    border-top: 0;
  }
}

.support-your-balls-referral {
  text-align: center;

  h2,
  p {
    margin: 0;
    text-align: center;
    color: $white;
    line-height: 1.4em;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 0.2em;

    @media #{$mobile-only} {
      font-size: 20px;
    }
  }

  > div {
    position: relative;
    padding: 2rem;

    &.syb-referral-section-2,
    &.syb-referral-section-3 {
      padding-top: 2.5rem;
    }
  }

  .syb-disclaimer {
    color: $color-grey-text;
    font-family: $font-family-heading;
    font-size: 14px;
  }
}

.syb-referral-section-1 {
  background-color: $tcf-color-1;

  .syb-arrow-down {
    border-top-color: $tcf-color-1;
  }
}

.syb-referral-section-2 {
  background-color: $tcf-color-2;

  .syb-arrow-down {
    border-top-color: $tcf-color-2;
  }
}

.syb-referral-section-3,
.syb-referral-button,
.syb-referral-button:hover {
  border-color: $tcf-color-3;
  background-color: $tcf-color-3;
}

.syb-referral-button {
  @include margin(2rem null);
}

.syb-arrow-down {
  $size: 25px;
  $color: red;
  position: absolute;
  bottom: -$size;
  @include calc(left, "50% - #{$size}");
  z-index: 1;
  @include size(0);
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid transparent;
}
