<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- ADDING TEALIUM  -->
  <script type="text/javascript">
    var utag_data = {
      "title": "TJ utag test",
      "page_type": "cart",
      "fb_events": "test"
    }
  </script>

  <% include ../partials/tealium.ejs %>

  <% include ../partials/nav.ejs %>
  <div class="body container">

  
    <h1>Cart Page</h1>

    <button class='button'>Add to Cart</button>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>