<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- ADDING TEALIUM  -->
  <script type="text/javascript">
    var utag_data = {
      "title": "TJ utag test",
      "page_type": "custom"
    }
  </script>
  <% include ../partials/tealium.ejs %>

  <% include ../partials/nav.ejs %>
    <h1>Custom Page or</h1>
    <button id='click-btn'>Click Here to Add Div</button>

    <div id="main">
    </div>
</body>

</html>