<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- ADDING TEALIUM  -->
  <script type="text/javascript">
    var utag_data = {
      "title": "TJ utag test",
      "page_type": "kevin"
    }
  </script>
  <% include ../partials/tealium.ejs %>

    <!-- <% include ../partials/nav.ejs %> -->

      <% include ../partials/tj_header.ejs %>
        <div class="main-content">
          <div class="video-container">
            <div class="video-overlay-image">

            </div>
            <script>
              $(document).ready(videoSize);
              $(window).resize(videoSize);
              function videoSize() {
                var w = $(window).width();
                var h = w * .56216;
                console.log(w, h)
                $('.main-video').css({
                  "width": w,
                  "height": h
                })
              }
            </script>
            <video class='main-video' width="1792" height="1008" controls>
              <source src="//videos.ctfassets.net/d2y5sh3u3ysc/1h07x0l0sMu0OU26ammKIC/dc60b88a046ffe99c4a4015145011d69/16MB_-_1282000TJ_AGENT_LIFT_60_H264_15mbit_STEREO_20171010.mp4"
                type="video/mp4"> Your browser does not support the video tag.
            </video>
          </div>
          <div class="text-box box-one container">
            <div class="text-block">
              <h3 class="text-block-heading">
                Created with Hart & Soul
              </h3>
              <p class="text-block-body">
                Our underwear blew Kevin’s mind. So much so, he became an investor.
                <br> Now he’s designed his own collection, and he wants you to experience it.
              </p>
            </div>
          </div>
          <div class="sides-container">
            <div class="side-container left-side">
              <div class="image-cta">

              </div>
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/5glTNuxyDSiMu0gEcYiy6s/35ed60c22dd2113cee0228a4e2fb2f7b/KH_topquote_800.jpg?q=75&fl=progressive"
                alt="kevin-bball" class="image-cta">
            </div>
            <div class="side-container right-side">
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/1EVgTsoJy8MGgIuMo4igiW/8299eed086b5769deb46d033d27bbd64/KH_002.jpg?q=75&fl=progressive"
                alt="camo-undies" class="image-cta">
              <div class="text-cta-block">
                <h3 class="text-cta-block-heading">PUT SOME FANCY IN YO' PANTS.</h3>

                <span class="text-cta-block-body">
                  <p>An exclusive camo print,
                    <br>in 360 Sport and Second Skin. </p>

                </span>

              </div>
            </div>
          </div>

          <div class="text-box box-two container content">
            <div class="text-block">
              <h3 class="text-block-heading">
                Distraction-Less Workouts.
              </h3>
              <p class="text-block-body">
                Kevin wanted camo on our 360 Sport stretch fabric. We’re at war with adjustment so it made sense.
                <br> Now he can tone up without chafing his weights.
              </p>
              <a href="#" class="button inverted text-cta-block-button">
                SHOP 360 SPORT
              </a>
            </div>
          </div>

          <div class="collage-container">
            <div class="collage-group-three">
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/3GAoBdxP72ayy2ykOUEmEU/6e3b8d0992d0b4ec3ba98222b5563138/KH_006.jpg?q=75&fl=progressive"
                alt="kevin-hart">
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/6XBqMI8lVeGAQYkmUYYUAE/7dcce12734469933f9a94640eeb02973/SSWaistband_lessgreen2.jpg?q=75&fl=progressive"
                alt="kevin-hart">
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/1fVGSDfv9u0wmykeW2q46e/0cd554e764d29a7356eb00818a9a4afc/kh_ss_mic.jpg?q=75&fl=progressive"
                alt="kevin-hart">
            </div>
          </div>

          <div class="text-box box-three container content">
            <div class="text-block">
              <h3 class="text-block-heading">
                First Choice? Second Skin.
              </h3>
              <p class="text-block-body">
                Kevin came to us through his love of Second Skin, the most luxurious underwear he’d ever worn.
                <br> Hustling this hard requires fabric that’s super soft.
              </p>
              <a href="#" class="button inverted text-cta-block-button">
                SHOP SECOND SKIN
              </a>
            </div>
          </div>

          <div class="collage-group-three">
            <img src="//images.ctfassets.net/d2y5sh3u3ysc/3GAoBdxP72ayy2ykOUEmEU/6e3b8d0992d0b4ec3ba98222b5563138/KH_006.jpg?q=75&fl=progressive"
              alt="kevin-hart">
            <img src="//images.ctfassets.net/d2y5sh3u3ysc/6XBqMI8lVeGAQYkmUYYUAE/7dcce12734469933f9a94640eeb02973/SSWaistband_lessgreen2.jpg?q=75&fl=progressive"
              alt="kevin-hart">
            <img src="//images.ctfassets.net/d2y5sh3u3ysc/1fVGSDfv9u0wmykeW2q46e/0cd554e764d29a7356eb00818a9a4afc/kh_ss_mic.jpg?q=75&fl=progressive"
              alt="kevin-hart">
          </div>

          <div class="text-box box-three container content">
            <div class="text-block">
              <h3 class="text-block-heading">
                Comfort Stitched In.
              </h3>
              <p class="text-block-body">
                You can't separate Kevin from comedy, like you can't separate Tommy John from comfort.
                <br> Our Loungewear is the softest, most luxurious you've ever felt.
              </p>
              <a href="#" class="button inverted text-cta-block-button">
                SHOP LOUNGEWEAR
              </a>
            </div>
          </div>

          <div class="collage-group-three">
            <img src="//images.ctfassets.net/d2y5sh3u3ysc/2HJKwg69ssI2ygAQs62WuA/8ab1e721e933d7285f718fef2af94450/KH_012.jpg?q=75&fl=progressive"
              alt="kevin-hart">
            <img src="//images.ctfassets.net/d2y5sh3u3ysc/5oOF325ho4uKYSEw0oQeUa/b350ad330c5ce057ccdb4a68b032980f/KH_015.jpg?q=75&fl=progressive"
              alt="kevin-hart">
            <img src="//images.ctfassets.net/d2y5sh3u3ysc/TJoWeP7loAc2wggggwUac/e4af4193c344c124091df54a563aa05f/KH_017.jpg?q=75&fl=progressive"
              alt="kevin-hart">
          </div>

          <div class="sides-container">
            <div class="side-container left-side">
              <div class="image-cta">

              </div>
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/fXeNn1v2k8Amawg0uOMAS/7b926223c1912ee64afb6c8aeb98e3b2/KH_bottomquote_800.jpg?q=75&fl=progressive"
                alt="kevin-bball" class="image-cta">
            </div>
            <div class="side-container right-side">
              <img src="//images.ctfassets.net/d2y5sh3u3ysc/1EVgTsoJy8MGgIuMo4igiW/8299eed086b5769deb46d033d27bbd64/KH_002.jpg?q=75&fl=progressive"
                alt="camo-undies" class="image-cta">
              <div class="kh-signup">
                <h3>Sign Up Now</h3>
                <p>To preview the next Tommy John X Kevin Hart Collection</p>
                <div class="input-combo-wrapper kh">
                  <input name="newsletter-email" placeholder="your@email.com" id="email" type="email">
                  <button id="submit">Sign Up</button>
                </div>
              </div>
            </div>
          </div>

          <div class="text-box box-three container content">
            <div class="text-block">
              <h3 class="text-block-heading">
                Shop The Collection
              </h3>
            </div>
          </div>

          <div class="shoppable-product-tiles">
            <div class="shoppable-product-tile">
              <a class="product-tile-link" href="/products/kevin-hart-lounge-jogger">
                <img alt="Image of TJ x KH Lounge Jogger" src="https://tommyjohn-production.imgix.net/assets/spree/images/attachments/1061027992/original/LOP1723RA1_BLK_ECOM_S_15121610.jpg?auto=format&amp;fit=clamp&amp;h=460&amp;w=460&amp;1512161014">
              </a>
              <div class="product-details">
                <div class="product-content">
                  <a class="product-tile-link" href="/products/kevin-hart-lounge-jogger">
                    <div>TJ x KH Lounge Jogger</div>
                  </a>
                  <div class="product-rating">★★★★★ (41)</div>
                </div>
                <div class="product-price">
                  <span class="regular-price" title="Price">$74</span>
                </div>
              </div>
              <div class="product-tile-form">
                <div class="attribute-selector">
                  <div class="attribute-selector-dropdown">

                    <a class="information-panel-link">What's My Size?</a>
                    <div class="option-container">


                      <span title="Small" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">S
                          <br>
                        </div>
                      </span>
                      <span title="Medium" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">M
                          <br>
                        </div>
                      </span>
                      <span title="Large" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">L
                          <br>
                        </div>
                      </span>
                      <span title="XL" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">XL
                          <br>
                        </div>
                      </span>
                      <span title="XXL" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">XXL
                          <br>
                        </div>
                      </span>
                    </div>
                  </div>
                  <button class="attribute-selector-dropdown-trigger button-desaturated inverted select-wrapper" type="button" title="Size">Size</button>

                </div>

                <div class="attribute-selector-dropdown">
                  <span class="product-attribute-tile checked" title="Black" style="background-color: rgb(0, 0, 0);">
                    <div class="product-color-swatch" style="background-color: rgb(0, 0, 0);"></div>
                  </span>
                </div>
                <button class="attribute-selector-dropdown-trigger button-desaturated inverted select-wrapper" type="button" title="Color">Black</button>

                <div class="attribute-selector"></div>
                <button class="product-tile-cta">Add to Cart</button>
              </div>
            </div>

            <div class="shoppable-product-tile">
              <a class="product-tile-link" href="/products/kevin-hart-lounge-ribbed-henley">
                <img alt="Image of TJ x KH Lounge Ribbed Henley" src="https://tommyjohn-production.imgix.net/assets/spree/images/attachments/1061027991/original/LOT1766MD1_CHARG_ECOM_S_15121609.jpg?auto=format&amp;fit=clamp&amp;h=460&amp;w=460&amp;1512160965">
              </a>
              <div class="product-details">
                <div class="product-content">
                  <a class="product-tile-link" href="/products/kevin-hart-lounge-ribbed-henley">
                    <div>TJ x KH Lounge Ribbed Henley</div>
                  </a>
                  <div class="product-rating">★★★★★ (21)</div>
                </div>
                <div class="product-price has-discount">
                  <span class="regular-price" title="Price">$68</span>
                  <span class="discount-price" title="Discount Price">$58.00</span>
                </div>
              </div>
              <div class="product-tile-form">
                <div class="attribute-selector">
                  <div class="attribute-selector-dropdown">

                    <a class="information-panel-link">What's My Size?</a>
                    <div class="option-container">


                      <span title="Small" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">S
                          <br>
                        </div>
                      </span>
                      <span title="Medium" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">M
                          <br>
                        </div>
                      </span>
                      <span title="Large" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">L
                          <br>
                        </div>
                      </span>
                      <span title="XL" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">XL
                          <br>
                        </div>
                      </span>
                      <span title="XXL" class="product-attribute-tile product-size-label">
                        <div class="product-size-label-content">XXL
                          <br>
                        </div>
                      </span>
                    </div>
                  </div>
                  <button class="attribute-selector-dropdown-trigger button-desaturated inverted select-wrapper" type="button" title="Size">Size</button>

                </div>

                <div class="attribute-selector-dropdown">
                  <span class="product-attribute-tile checked" title="Black" style="background-color: rgb(0, 0, 0);">
                    <div class="product-color-swatch" style="background-color: rgb(0, 0, 0);"></div>
                  </span>
                </div>
                <button class="attribute-selector-dropdown-trigger button-desaturated inverted select-wrapper" type="button" title="Color">Black</button>

                <div class="attribute-selector"></div>
                <button class="product-tile-cta">Add to Cart</button>
              </div>
            </div>
            <div class="shoppable-product-tile">
              <a class="product-tile-link" href="/products/tj-x-kh-loungewear-set-khloungeset2">
                <img alt="Image of TJ x KH Loungewear Set" src="https://tommyjohn-production.imgix.net/assets/spree/images/attachments/1061027920/original/KH_LOUNGE_PDP_15118066.jpg?auto=format&amp;fit=clamp&amp;h=460&amp;w=460&amp;1511806677">
              </a>
              <div class="product-details">
                <div class="product-content">
                  <a class="product-tile-link" href="/products/tj-x-kh-loungewear-set-khloungeset2">
                    <div>TJ x KH Loungewear Set</div>
                  </a>
                  <div class="product-rating">☆☆☆☆☆ (0)</div>
                </div>
                <div class="product-price has-discount">
                  <span class="regular-price" title="Price">$142</span>
                  <span class="discount-price" title="Discount Price">$130.00</span>
                </div>
                <div class="product-tile-form">
                  <div class="attribute-selector">
                    <div class="attribute-selector-dropdown">
                      <div class="information-panel-wrapper">
                        <a class="information-panel-link">What's My Size?</a>
                        <div class="information-panel-mask"></div>
                      </div>
                      <div class="option-container">
                        <span title="Small" class="product-attribute-tile product-size-label">
                          <div class="product-size-label-content">S
                            <br>
                          </div>
                        </span>
                        <span title="Medium" class="product-attribute-tile product-size-label">
                          <div class="product-size-label-content">M
                            <br>
                          </div>
                        </span>
                        <span title="Large" class="product-attribute-tile product-size-label">
                          <div class="product-size-label-content">L
                            <br>
                          </div>
                        </span>
                        <span title="XL" class="product-attribute-tile product-size-label">
                          <div class="product-size-label-content">XL
                            <br>
                          </div>
                        </span>
                        <span title="XXL" class="product-attribute-tile product-size-label">
                          <div class="product-size-label-content">XXL
                            <br>
                          </div>
                        </span>
                      </div>
                    </div>
                    <button class="attribute-selector-dropdown-trigger button-desaturated inverted select-wrapper" type="button" title="Size">Size</button>
                  </div>
                  <div class="attribute-selector">
                    <div class="attribute-selector-dropdown">
                      <span class="product-attribute-tile checked" title="Black" style="background-color: rgb(0, 0, 0);">
                        <div class="product-color-swatch" style="background-color: rgb(0, 0, 0);"></div>
                      </span>
                    </div>
                    <button class="attribute-selector-dropdown-trigger button-desaturated inverted select-wrapper" type="button" title="Color">Black</button>
                  </div>
                  <button class="product-tile-cta" disabled="">Add to Cart</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <script>
          var btns = document.querySelectorAll('.attribute-selector-dropdown-trigger');
          btns.forEach(btn => {
            btn.addEventListener('click', function (e) {
              this.classList.toggle('open');
              this.previousElementSibling.classList.toggle("open");
            });
          });

          var prices = document.querySelectorAll('.regular-price');
          prices.forEach(discount => {
            if (discount.parentNode.classList.contains('has-discount')) {
              discount.style.textDecoration = "line-through";
              discount.nextElementSibling.style.color = 'red';
            }
          });
        </script>
        <% include ../partials/footer.ejs %>
</body>

</html>