<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- ADDING TEALIUM  -->
  <script type="text/javascript">
    var utag_data = {
      "title": "TJ utag test",
      "page_type": "product"
    }
  </script>
  <% include ../partials/tealium.ejs %>

    <% include ../partials/nav.ejs %>
      <div class="body container">
        <h1>Product Page</h1>
        <div class="products-container">


          <% for(let i = 0; i < products.length; i++) { %>
            <div class='item-container'>

              <img class='product-image' src="<%=products[i].image_url %>" alt="">
              <p>
                <%= products[i].name %>
              </p>
              <p>
                $<%= products[i].price %>
              </p>
              <button class="button tj-btn">Add to cart</button>
            </div>
            <% } %>

        </div>
        <div id="main">
          <div class="col-md-8 blue main-product">
            <div class="main-image"></div>
            <div class="title">
              <h3>Product title</h3>
              <div class="box-section">
                <div id='box1' class="col-md-6 col-xs-12">box 1</div>
                <div id='box2' class="col-md-6 col-xs-12">box 2</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 thumbnails">
            <img src="https://placeholdit.co//i/555x150" alt="">
            <img src="https://placeholdit.co//i/555x150" alt="">
            <img src="https://placeholdit.co//i/555x150" alt="">
            <img src="https://placeholdit.co//i/555x150" alt="">
          </div>
        </div>
      </div>
</body>

</html>