<div class="nav-categories-wrapper bar-dropdown">
  <ul class="nav-categories">
    <li class="nav-category">
      <p>Men</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/new-arrivals">New Arrivals</a>
        </li>
        <li class="nav-link">
          <a href="/smart-fabrics">Collections</a>
        </li>
        <li class="nav-link">
          <a href="/gift-guide/best-of-tommy-john">Best of Tommy John</a>
        </li>
        <li class="nav-link">
          <a href="/gift-guide/everyday">Everyday Essentials</a>
        </li>
        <li class="nav-link">
          <a href="/gift-guide/workout">Workout</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Women</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/women/new-arrivals">New Arrivals</a>
        </li>
        <li class="nav-link">
          <a href="/introducing-womens">Introducing Women's</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Gift Card</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/products/e-gift-card">Gift Card</a>
        </li>
      </ul>
    </li>
  </ul>
</div>