<div class="nav-categories-wrapper bar-dropdown">
  <ul class="nav-categories">
    <li class="nav-category">
      <p>What's New</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/new-arrivals">New Arrivals</a>
        </li>
        <li class="nav-link">
          <a href="/smart-fabrics">Collections</a>
        </li>
        <li class="nav-link">
          <a href="/gift-guide/best-of-tommy-john">Best of Tommy John</a>
        </li>
        <li class="nav-link">
          <a href="/gift-guide/everyday-essentials">Everyday Essentials</a>
        </li>
        <li class="nav-link">
          <a href="/gift-guide/workout">Workout</a>
        </li>
        <li class="nav-link">
          <a href="/products/e-gift-card">Gift Card</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Underwear</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/underwear" class="dyother dyMonitor" data-adid="2952124||0|||">All Underwear</a>
        </li>
        <li class="nav-link">
          <a href="/underwear/styles/boxer-brief">Boxer Brief</a>
        </li>
        <li class="nav-link">
          <a href="/underwear/styles/relaxed-fit-boxer">Relaxed Fit Boxer</a>
        </li>
        <li class="nav-link">
          <a href="/underwear/styles/trunk">Trunk</a>
        </li>
        <li class="nav-link">
          <a href="/underwear/styles/square-cut">Square Cut</a>
        </li>
        <li class="nav-link">
          <a href="/underwear/styles/brief">Brief</a>
        </li>
        <li class="nav-link">
          <a href="/long-johns">Long John</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Undershirts</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/undershirts">All Undershirts</a>
        </li>
        <li class="nav-link">
          <a href="/undershirts/styles/crew-neck">Crew Neck</a>
        </li>
        <li class="nav-link">
          <a href="/undershirts/styles/high-v-neck">High V-Neck</a>
        </li>
        <li class="nav-link">
          <a href="/undershirts/styles/deep-v-neck">Deep V-Neck</a>
        </li>
        <li class="nav-link">
          <a href="/undershirts/styles/tank-top">Tank</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Clothing</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/clothing">All Clothing</a>
        </li>
        <li class="nav-link">
          <a href="/pants">Pants &amp; Joggers</a>
        </li>
        <li class="nav-link">
          <a href="/shorts">Shorts</a>
        </li>
        <li class="nav-link">
          <a href="/t-shirts">Tops &amp; T-shirts</a>
        </li>
        <li class="nav-link">
          <a href="/hoodies">Sweatshirts &amp; Hoodies</a>
        </li>
        <li class="nav-link">
          <a href="/socks">Socks</a>
        </li>
        <li class="nav-link">
          <a href="/loungewear">Loungewear</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Collections</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/second-skin">Second Skin</a>
        </li>
        <li class="nav-link">
          <a href="/cool-cotton">Cool Cotton</a>
        </li>
        <li class="nav-link">
          <a href="/air">Air</a>
        </li>
        <li class="nav-link">
          <a href="/360-sport">360 Sport</a>
        </li>
        <li class="nav-link">
          <a href="/go-anywhere">Go Anywhere™</a>
        </li>
        <li class="nav-link">
          <a href="/long-johns">Sleekheat™</a>
        </li>
      </ul>
    </li>
  </ul>
</div>