<div class="nav-categories-wrapper bar-dropdown">
  <ul class="nav-categories inline-list">
    <li class="nav-category">
      <p>Men's Packs</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/packs">All Packs</a>
        </li>
        <li class="nav-link">
          <a href="/packs/fabric-samplers">Samplers</a>
        </li>
        <li class="nav-link">
          <a href="/packs/multi-packs">Multi Packs</a>
        </li>
        <li class="nav-link">
          <a href="/packs/starter">Starter Kits</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Women's Packs</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/women/packs">All Packs</a>
        </li>
        <li class="nav-link">
          <a href="/women/packs/sampler">Samplers</a>
        </li>
        <li class="nav-link">
          <a href="/women/packs/multi-packs">Multi Packs</a>
        </li>
      </ul>
    </li>
  </ul>
</div>