<div class="nav-categories-wrapper bar-dropdown">
  <ul class="nav-categories inline-list">
    <li class="nav-category">
      <p>Tommy John Rewards</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/tommy-john-rewards">About</a>
        </li>
        <li class="nav-link">
          <a href="/rewards">My Rewards</a>
        </li>
      </ul>
    </li>
  </ul>
</div>