<div class="nav-categories-wrapper bar-dropdown">
  <ul class="nav-categories inline-list">
    <li class="nav-category">
      <p>What's New</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/women/new-arrivals">New Arrivals</a>
        </li>
        <li class="nav-link">
          <a href="/introducing-womens">Introducing Women's</a>
        </li>
        <li class="nav-link">
          <a href="/products/e-gift-card">Gift Card</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Underwear</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/women/underwear">All Panties</a>
        </li>
        <li class="nav-link">
          <a href="/women/underwear/styles/boyshort">Boyshort</a>
        </li>
        <li class="nav-link">
          <a href="/women/underwear/styles/brief">Brief</a>
        </li>
        <li class="nav-link">
          <a href="/women/underwear/styles/cheeky">Cheeky</a>
        </li>
        <li class="nav-link">
          <a href="/women/underwear/styles/thong">Thong</a>
        </li>
      </ul>
    </li>
    <li class="nav-category">
      <p>Collections</p>
      <ul class="nav-category-links">
        <li class="nav-link">
          <a href="/women/second-skin">Second Skin</a>
        </li>
        <li class="nav-link">
          <a href="/women/air">Air</a>
        </li>
      </ul>
    </li>
  </ul>
</div>