.color-input-wrapper {
  @include display(flex);
  border: 1px solid #cee1f4;
  border-radius: 3px;
}

.color-input[type="text"] {
  // extra specificity for overrides
  @include flex(1);
  border: 0;
}

.color-input-swatch {
  @include size(48px 32px);
  border-left: 1px solid #cee1f4;
}
